/*Här är alla för tanstacktable*/

.chevron-expanded {
    rotate: 270deg;
}

.chevron-notExpanded{
    rotate: 90deg;;
}

.icon-arrow{
    display: table-row;
    margin-left: 2px;
}

.icon-arrow-desc {
    rotate: 90deg;
}

.icon-arrow-asc {
    rotate: 270deg;
}

.tablerow-expanded {
    background-color: white;
}

.container-expanded{
    padding: 5px;
background: #F6F1E9;
border-radius: 10px;
margin: 0px 0px;
}

.tableData-expanded{
    border: 0px !important;
    padding-top: 0px !important;
}

.tablerow-expanded b {
    color: #a33662;
}
/*Här är alla för tanstacktable*/

.divSearch {
    display: flex;
}

.btnSearch {
    align-self: flex-end;
}

.ids-table td, th{
    border-left: 0px !important; 
}

.tableRowActive {
    background-color: #f6f1e9;
    border-bottom: 0px !important;
}

.tableRowExpanded b {
    color: #a33662;
    /*color: #353636*/
}

.search-message {
    display: flex;
    flex-direction: row;
}

.input-search {
    height: 60px;
}

.input-create{
    height: 60px;
}

.tableRowActive #IconchevronBald {
    rotate: 270deg;
}


.tableRowExpanded{
    background-color:  #f6f1e9;
    border-bottom: 0px !important;
}

/* Search.css */
.page-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .content-wrap {
    flex: 1;
  }
  
  footer {
    margin-top: auto;
  }
  

tr
{
    line-height:40px;
}

#IconchevronBald{
    rotate: 90deg;  
}

.material-symbols-outlined {
    opacity: 0;
    transition: opacity 0.3s ease; 
}

th:hover .material-symbols-outlined {
    opacity: 1;
}

.container {
    display: flex;
    flex-direction: row;
}

.textfield-container{
    display: flex;
}

.textfield-div{
    justify-content: flex-start;
    max-width: 600px;
}

.container-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0px;
    padding: 6px;
}

ids-icon-copy-file {
    display: inline !important;
}

.dialog-icons {
    display: inline !important;
}

.selected::after {
    display: none;
}

.ids-select-wrapper {
    width: 100%;
}

.ids-dialog__body {
    width: 500px;
}

#ids-textArea {
    width: 484px !important;
}

.delete-question {
    color: black !important;
}


.update-btn{
    background: none; 
  border: none;   
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
