.divSearch {
    display: flex;
}

.btnSearch {
    align-self: flex-end;
}

.ids-table td, th{
    border-left: 0px !important; 
}

.tableRowActive {
    background-color: #f6f1e9;
    border-bottom: 0px !important;
}

.tableRowExpanded b {
    color: #a33662;
    /*color: #353636*/
}

.tableRowActive #IconchevronBald {
    rotate: 270deg;
}

.tableRowExpanded{
    background-color:  #f6f1e9;
    border-bottom: 0px !important;
}

tr
{
    line-height:40px;
}

#IconchevronBald{
    rotate: 90deg;  
}

.material-symbols-outlined {
    opacity: 0;
    transition: opacity 0.3s ease; 
}

th:hover .material-symbols-outlined {
    opacity: 1;
}

.container {
    display: flex;
    flex-direction: row;
}

.textfield-container{
    display: flex;
}

.textfield-div{
    justify-content: flex-start;
    max-width: 600px;
}

.container-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0px;
    padding: 6px;
}

ids-icon-copy-file {
    display: inline !important;
}

.dialog-icons {
    display: inline !important;
}

.selected::after {
    display: none;
}

.ids-select-wrapper {
    width: 100%;
}

.ids-dialog__body {
    width: 500px;
}

#ids-textArea {
    width: 484px !important;
}

.delete-question {
    color: black !important;
}


.update-btn{
    background: none; 
  border: none;   
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
